DATABASE_URL=mysql://USER:PASS@localhost:3306/DB
SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USER=sale@mspro-ltd.ru
SMTP_PASS=
EMAIL_FROM=sale@mspro-ltd.ru
EMAIL_ADMIN=sale@mspro-ltd.ru
PORT=3000

VITE_ANALYTICS_ENABLED=1
VITE_YM_TAG_ID=72249244
VITE_GA_TAG_ID=G-RG1HNY8QBV
